.git
.github
.idea
.vscode

.env
.env.*
*.env
*.local
.npmrc

node_modules
dist
coverage
build
logs
*.log

test
*.md
LICENSE

**/*.key
**/*.pem
**/*.p12
**/*.pfx
**/*.secret
**/secrets/**
**/.aws/**
**/id_rsa*
Dockerfile*
docker-compose*.yml
